@using Microsoft.AspNetCore.Identity
@inject SignInManager<SnackExchange.Web.Models.Auth.AppUser> SignInManager
@inject UserManager<SnackExchange.Web.Models.Auth.AppUser> UserManager

<ul class="navbar-nav">
    <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" style="">
            <input id="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <input type="button" value="Search" class="btn btn-outline-success my-2 my-sm-0" id="btnSearch"
                   onclick="changeHref()" />
        </form>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
